
<form class="col-md-12" method="post" action="/Blog/Save">
    <div class="mb-2 d-flex gap-2">
        <div class="w-25">
            <label for="BlogAuthor">Author</label>
            <input class="form-control" id="BlogAuthor" name="BlogAuthor" />
        </div>
        <div class="w-25">
            <label for="BlogTitle">Title</label>
            <input class="form-control" id="BlogTitle" name="BlogTitle" />
        </div>
    </div>
    <div class="mb-3">
        <label for="BlogContent">Content</label>
        <textarea class="form-control" id="BlogContent" name="BlogContent"></textarea>
    </div>
    <button type="submit" class="btn-success">save</button>
</form>

